.clock {
    display: flex;
    text-align: center;
    align-self: center;
    font-family: monospace;
    color: white;
    font-size: 25px;
    background-color: black;
    height: 30px;
    margin: 20px 
};