.form {
    font-size: 20px;
    text-align: center;
    background-color: floralwhite;
    margin: 150px 500px 200px 500px;
    padding: 30px;
    width: 550px;
    border: double 5px;
    align-self: center;
  };

